/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/GothamMedium.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/GothamBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}